loguru
langchain
langchain-groq
langchain-community
langchain-openai
langchain-chroma
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
langgraph
rank_bm25
langchain-huggingface
langfuse
arxiv
pydantic-settings
nltk
datasets
ragas